* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


#container {
    display: flex;
    height: 960px;
    width: 960px;
    min-width: 960px;
    background-color: black;
    flex-wrap: wrap;
    margin: 0 auto;
   
}

.gridEl {
    display: flex;
    color: black;
    background: whitesmoke;
    border: 1px solid red;   
}

#colored {
    background: black;
}

#rainbowed {}


button {
    align-self: flex-start;
}

smt {
    background: rgb(rgb(196, 137, 137), green, blue);
}